<%= form_with model: @store,url: store_registration_path, local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      新規店舗情報入力
    </h1>
  </div>

  <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。まだ実装していない為に残す%>
  <%= render 'stores/shared/error_messages', model: f.object %>
  <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。まだ実装していない為に残す%>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>
  <div class="form-group">
    <p class='form-info-header'>
      本人確認
    </p>
    <p class='form-info-text'>
      安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
    </p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">店名</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :store_name, class:"input-name", id:"last-name", placeholder:"例) 食事処○○" %>
    </div>
    <div class='form-text-wrap'>
      <label class="form-text">電話番号</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :tel, class:"input-tel", id:"last-tel", placeholder:"例) 090-1234-5678" %>
    </div>
    <div class='form-text-wrap'>
      <label class="form-text">郵便番号</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :postal_code, class:"input-default", id:"last-tel", placeholder:"例) 123-4567" %>
    </div>
    <div class='form-text-wrap'>
      <label class="form-text">都道府県</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"input-default", id:"prefecture"}) %>
    </div>
    <div class='form-text-wrap'>
      <label class="form-text">市町村</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :city, class:"input-default", id:"last-tel", placeholder:"例) " %>
    </div>
    <div class='form-text-wrap'>
      <label class="form-text">番地</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :address, class:"input-default", id:"last-tel", placeholder:"例) １２３−１" %>
    </div>
    <div class='form-text-wrap'>
      <label class="form-text">建物</label>
      <span class="indispensable">任意</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :building, class:"input-default", id:"last-tel", placeholder:"例) ヒルスビル" %>
    </div>
    <div class='form-text-wrap'>
      <label class="form-text">責任者のお名前</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :director, class:"input-default", id:"last-tel", placeholder:"例) 田中太郎" %>
    </div>
  </div>
    <p class='info-text'>※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。</p>
  </div>
  <div class="form-group">
    <h2 class='form-bottom-text'>
      「会員登録」のボタンを押すことにより、
      <span>利用規約</span>
      <br>に同意したものとみなします
    </h2>
  </div>
  <div class='register-btn'>
    <%= f.submit "会員登録" ,class:"register-red-btn" %>
  </div>
  <p class='register-info'>店舗情報の登録について</p>
</div>
<% end %>
