<div class ="receipts_main">
  <div class = "receipt_detail">
    <div class = "receipt_user_name">
      ○○様の領収書を作成
    </div>
  </div>
  <div class= "receipt_content">
    <h1 class ="input_name_tag">お客様情報の登録</h1>
    <%= form_with(url: informations_reservation_receipts_path, method: :post, local: true) do |f| %>
      <div class = "input_detail">
        <div class= "weight-bold-text">
          宛名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :name, class:"reservation_input", class:"input-default" %>
        <div class= "weight-bold-text">
          料金
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :price, class:"input-default", min:0, max:30 %>
        <div class= "weight-bold-text">
          但し書き
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :proviso, class:"reservation_input", class:"input-default" %>
      </div>
      <div class= "receipt_action">
        <%= f.submit "作成する", class: "reservation_form_btn"  %>
      </div>
    <% end %>
  </div>
</div>