<h1>領収書作成しましょう</h1>
<div class= "reseipt_form">
  <%= form_with(url: informations_reservation_receipts_path, method: :post, local: true) do |f| %>
    <%= f.label '宛名' %>
    <%= f.text_field :name %>
    <%= f.label '料金' %>
    <%= f.text_field :price %>
    <%= f.label '但し書き' %>
    <%= f.text_field :proviso %>
    <%= f.submit "作成" ,class:"buy-red-btn" %>
  <% end %>
</div>