<div class="contents_row">
  <div class= "tweet_info">
    <%= link_to  user_path(@tweet.user.id), class: "tweet_path_url" do %>
      <div class= "info_tweet_title"><%= @tweet.title %></div>
      <div class= "tweet_img">
        <%= image_tag @tweet.image, class: "item_tweet_img" %>
      </div>
      <div class= "tweet_text">
        <%= @tweet.text %>
      </div>
      <h3 class= "information_tweet_name fa fa-user">
        <%= @tweet.user.nickname %>さん
      </h3>
      <span class = "info-child"></span>
    <% end %>
  </div>
</div>

