<div class="tabs">
  <div class= "search_text_secondary">
    <%= link_to "ビジグル" ,root_path , class: "root_url"%>
  </div>
  <% if user_signed_in? &&  current_user.id == @user.id %>
    <input type='radio' id='company-page' name='tab-item'checked>
    <%= link_to 'ユーザー情報',user_path(@user.id), class: 'tab-item'%>
      <input type='radio' id='staff-page' name='tab-item'>
      <%= link_to '予約一覧', users_reservations_path(id: current_user.id), method: :get, class: 'tab-item' %>
      <input type='radio' id='index-page' name='tab-item'>
      <%= link_to '領収書一覧', users_receipts_path(id: current_user.id), method: :get, class: 'tab-item' %>
  <% else %>
    <h1 class= "tweet_user_tag"><%= @user.nickname %>さんの投稿</h1>
  <% end %>
</div>
<div class= "user_show_tweets">
  <div class= "information_tweet_lists">
    <% @tweets.each do |tweet| %>
      <div class= "tweet_info">
        <div class= "info_tweet_title"><%= tweet.title %></div>
        <div class= "tweet_img">
          <%= image_tag tweet.image, class: "item_tweet_img" %>
        </div>
        <div class= "tweet_text">
          <%= tweet.text %>
        </div>
        <div class = "tweet_menu">
          <div class="tweet_change">
            <% if  user_signed_in? && current_user.id == tweet.user.id %>
              <%= link_to '編集', edit_tweet_path(tweet.id), method: :get, class:"tweet_edit" %>
              <%= link_to '削除', tweet_path(tweet.id), method: :delete, class:"tweet_delete" %>
            <% end %>
          </div>
          <div class= "tweet_content_time">
            <%= tweet.created_at.strftime("%m/%d") %>
          </div>
        </div>
        <span class = "info-child"></span>
      </div>
    <% end %>
  </div>
</div>


