<div class = "search_main">
  <%= search_form_for(@q, url: search_informations_path) do |f| %>
    <div class= "search_boxes">
      <div class= "search_text">
        <div class= "search_text_secondary">
          <%= link_to "ビジグル" ,root_path , class: "root_url"%>
        </div>
        <div class= "search_text_boxes">
          <%= f.search_field :store_name_or_genre_name, placeholder: "キーワード     例：焼肉", class: "text_keyword"%>
          <%= f.search_field :city_or_address_or_place_name, placeholder: "エリア     例：東京", class: "area_keyword" %>
          <%= f.submit "検索", class: "search_submit_word" %>
        </div>
      </div>
    </div>
    <div class = "search_btns_main">
      <div class= "genre_place_search">
        <div class = "genre">
          <div class= "search_genre" id="search_genre1">ジャンルから探す</div>
          <div class= "genre_btn" id="genre_btn1">
            <%= f.collection_check_boxes :genre_ancestry_in, Genre.where(ancestry: nil), :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio') %>
            <% end %>
          </div>
          <div class = "search_submit_place_genre">
            <%= f.submit "検索" ,class: "search_submit_detail"%>
          </div>
        </div>
        <div class = "place">
          <div class="search_place" id="search_place1">エリアから探す</div>
          <div class= "place_btn" id="place_btn1">
            <%= f.collection_check_boxes :place_ancestry_in, Place.where(ancestry: nil), :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio_place') %>
            <% end %>
          </div>
          <div class = "search_submit_place_genre">
            <%= f.submit "検索" ,class: "search_submit_detail"%>
          </div>
        </div>
      </div>
      <div class= "budget">
        <div class= "search_budget_tag">予算から探す</div>
        <div class= "search_budget">
          <%= f.collection_select :budget_id_gt, Budget.where.not(id: 1), :id, :min, {include_blank:"下限なし"}, class: "max_btn" %>
          <%= f.collection_select :budget_id_lt, Budget.where.not(id: 1), :id, :max, {include_blank:"上限なし"}, class: "min_btn" %>
          <%= f.submit "検索" ,class: "budget_submit"%>
        </div>
      </div>
      <div class= "detail_btn">
        <div class= "detail_tag_top">雰囲気検索</div>
        <div class= "light_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>明るさを選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :light_id_in, Light.where.not(id: 1), :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "volume_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>店内音量を選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :volume_id_in, Volume.where.not(id: 1), :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "age_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>利用者の年齢層を選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :ages_id_in, Age.all, :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "music_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>BGMを選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :musics_id_in, Music.all, :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "room_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>席を選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :rooms_id_in, Room.all, :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "space_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>利用シーンを選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :reception_id_in, Reception.where.not(id: 1), :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "detail_tag_top">こだわり検索</div>
        <div class= "tobacco_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>喫煙・禁煙を選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :tobacco_id_in, Tobacco.where.not(id: 1), :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "drink_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>飲み物を選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :drinks_id_in, Drink.all, :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "location_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>ロケーションを選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :locations_id_in, Location.all, :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "payment_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>支払い方法を選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :payments_id_in, Payment.all, :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "service_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>サービスを選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :services_id_in, Service.all, :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class= "space_btn">
          <div class ="detail_tag"><i class="fa fa-angle-down"></i>空間を選択</div>
          <div class ="radio_btns" style="display:none;">
            <%= f.collection_check_boxes :spaces_id_in, Space.all, :id, :name do |b| %>
              <% b.check_box(class: 'sample_btn') + b.label(class: 'sample_radio2') %>
            <% end %>
          </div>
        </div>
        <div class = "search_submit_place_genre">
          <%= f.submit "検索" ,class: "search_submit_detail"%>
        </div>
      </div>
    <% end %>
  </div>
</div>