<div class= "main">
  <div class= "user_edit_header">
    <div class= "user_edit_contents">
      <div class= "user_edit_day">
        <%= @reservation.start_time.strftime("%m/%d %H:%M") %>
      </div>
      <div class= "user_edit_detail">
        <h2 class= "user_reservation_title">代表者名と人数を入力してください</h2>
        <%= form_with(model: [@user, @reservation],url: users_reservation_path(@reservation.id), local: true) do |f| %>
          <div class= "name">
            <%= f.label :name, "代表者名" %><br />
            <%= f.text_field :name, class:"reservation_input", id:"reservation_name" %>
          </div>
          <div class= "number_of_people">
            <%= f.label :number_of_people, "予約人数" %><br />
            <%= f.number_field :number_of_people, class:"input-default", min:0, max:6 %>
          </div>
          <div class="field">
            <%= f.label :tel, "電話番号" %><br />
            <%= f.text_field :tel %>
          </div>
          <div class= "action">
            <%= f.submit "予約する", class: :form__btn  %>
          </div>
        <% end %>
    </div>
  </div>
<div>