<div class="tabs">
  <input type='radio' id='company-page' name='tab-item'>
  <%= link_to 'ユーザー情報',user_path(current_user.id), class: 'tab-item'%>
  <input type='radio' id='staff-page' name='tab-item'checked>
  <%= link_to '予約一覧', users_reservations_path(id: current_user.id), method: :get, class: 'tab-item' %>
  <input type='radio' id='index-page' name='tab-item'>
  <%= link_to '領収書一覧', users_receipts_path(id: current_user.id), method: :get, class: 'tab-item' %>  
</div>  
<div class= "reservations">
  <div class= "reservation">
    <div class = "reservation_down">
      <h1 class= "reservation_down_tag"><%= current_user.nickname %>様の予約一覧</h1>
      <div class = "recipt_reservation_table">
        <table>
          <tr >
            <th>日付</th>
            <th>店名</th>
            <th>代表者名</th>
            <th>人数</th>
            <th>予約取り消し</th>
          </tr>
          <% @reservations.each do |reservation| %>
            <tr>
              <td><%= reservation.start_time.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td><%= link_to reservation.information.store_name, information_path(reservation.information.id) %></td>
              <td><%= reservation.name %>様</td>
              <td><%= reservation.number_of_people %>人</td>
              <td><%= link_to "予約を取り消す", users_reservation_path(reservation.id), method: :delete %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

