<div class = "main">
  <div class= "index_header">
    <div class= "nav_left">
      <div class= "top_text">ビジネス版食べログ</div>
    </div>
    <div class= "nav_right">
      <% unless user_signed_in? || store_signed_in? %>
        <div class= "nav_btn">
          <%= link_to "お店ログイン", new_store_session_path, class: nav_btn %>
          <%= link_to "お店新規登録", new_store_registration_path, class: nav_btn %>
        </div>
        <div class= "nav_btn">
          <%= link_to "ログイン", new_user_session_path, class: "nav_btn"%>
          <%= link_to "新規登録", new_user_registration_path , class: "nav_btn" %>
        </div>
      <% end %>
      <% if store_signed_in? %>
        <div class= "nav_btn">
          <%= link_to "お店ログアウト", destroy_store_session_path, method: :delete, class: "nav_btn" %>
          <%= link_to "お店マイページ", store_path(current_store.id), method: :get, class: "nav_btn" %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class= "nav_btn">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav_btn"  %>
          <%= link_to "マイページ", user_path(current_user.id), method: :get, class: "nav_btn"  %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/ransack_form" %>
  <% if store_signed_in? %>
    <div class = "btn">
      <%= link_to new_information_path, data: {"turbolinks" => false}, class: 'purchase-btn' do %> 
        <span class='purchase-btn-text'>出店する</span>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class = "btn">
      <%= link_to new_tweet_path, class: 'purchase-btn' do %> 
        <span class='purchase-btn-text'>投稿する</span>
      <% end %>
    </div>
  <% end %>
  <div class= "information_contents">
    <h2 class= "title">おすすめ店舗</h2>
    <ul clas= "information_lists">
      <% @information.each do |information| %>
        <li class= "list">
          <%= link_to information_path(information.id), data: {"turbolinks" => false} do %>
            <div class = "information_img_content">
            <%= image_tag information.image, class: "item-img" %>
            </div>
            <div class= "information_info">
              <h3 class= "information_name">
                <%= information.store_name %>
              </h3>
              <div class= "information_genre">
                <span><br><%= information.genre.name %></span>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class= "information_tweets_main">
    <h2 class= "tweet_title">ツイート欄</h2>
    <div class= "information_tweet_lists">
      <% @tweets.each do |tweet| %>
        <%= link_to tweet_path(tweet.id) do %>
          <div class= "tweet_info">
            <h3 class= "tweet_name">
              <%= tweet.name %>
            </h3>
            <div class= "tweet_text">
              <span><%= tweet.text %></span>
            </div>
            <div class= "tweet_img">
              <%= image_tag tweet.image, class: "item-img" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
