<div class = "main">
  <div class= "index_header">
    <div class= "nav_left">
      <div class= "top_text">仕事で使うお店探しは<br>ビジグルアプリ</div>
    </div>
    <div class= "nav_right">
      <% unless user_signed_in? || store_signed_in? %>
        <div class= "nav_btns">
          <%= link_to "ログイン", new_user_session_path, class: "nav_btn fa fa-sign-in"%>
          <%= link_to "新規登録", new_user_registration_path , data: {"turbolinks" => false}, class: "fa fa-user-plus nav_btn" %>
        </div>
      <% end %>
      <% if store_signed_in? && Information.find_by(store_id: current_store.id) != nil %>
        <div class= "nav_btns">
          <%= link_to "お店ログアウト", destroy_store_session_path, method: :delete, class: "nav_btn fa fa-sign-out" %>
          <%= link_to "お店マイページ", store_path(current_store.id), method: :get, class: "nav_btn fas fa-store-alt" %>
        </div>
      <% elsif store_signed_in? %>
        <div class= "nav_btns">
          <%= link_to "お店ログアウト", destroy_store_session_path, method: :delete, class: "nav_btn fa fa-sign-out" %>
          <%= link_to "出店する", new_information_path, data: {"turbolinks" => false}, class: 'nav_btn fa fa-user' %> 
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class= "nav_btns">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav_btn fa fa-sign-out"  %>
          <%= link_to "マイページ", user_path(current_user.id), method: :get, class: "nav_btn fa fa-user"  %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/ransack_form" %>

  <div class= "information_tweets_main">
    <h2 class= "tweet_title">オススメの店舗<i class="fa fa-comments-o"></i></h2>
    <div class= "information_tweet_lists">
      <% @tweets.each do |tweet| %>
        <div class= "tweet_info">
          <%= link_to tweet_path(tweet.id), class: "tweet_path_url" do %>
            <div class= "info_tweet_title"><%= tweet.title %></div>
            <div class= "tweet_img">
              <%= image_tag tweet.image, class: "item_tweet_img" %>
            </div>
            <div class= "tweet_text">
              <%= tweet.text %>
            </div>
            <h3 class= "information_tweet_name fa fa-user">
              <%= tweet.user.nickname %>さん
            </h3>
            <span class = "info-child"></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class = "user_tweet_post_btn">
      <% if user_signed_in? %>
        <div class = "tweet_post_btn">
          <%= link_to new_tweet_path, data: {"turbolinks" => false}, class: 'tweet_post_btn_url' do %>
            <span>投稿する</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "for_shop_contents">
    <% unless user_signed_in? || store_signed_in? %>
    <div class = "for_shop_tag">
      <h1 class = "shop_tag_text"> 飲食店・食関連企業の方</h1>
    </div>
    <div class ="store_log_btns">
      <%= link_to "店舗ログイン", new_store_session_path, class: "store_log_btn" %>
      <%= link_to "店舗新規登録", new_store_registration_path, class: "store_log_btn" %>
    </div>
    <% end %>
    <div class = "for_shop_details">
      <div class = "for_shop_detail">
        <%= link_to "ヘルプ・お問い合わせ", "#" %>
      </div>
      <div class = "for_shop_detail">
        <%= link_to "ビジグルの便利な使い方", "#" %>
      </div>
      <div class = "for_shop_detail">
        <%= link_to "資料請求", "#" %>
      </div>
      <div class = "for_shop_detail">
        <%= link_to "広告（メーカー・団体様等向け）について", "#" %>
      </div>
      <div class = "for_shop_detail">
        <%= link_to "機能改善要望", "#" %>
      </div>
    </div>
    <div class ="for_store_languages">
      <div class ="language">
        言語:
      </div>
      <div class = "language">
        <%= link_to "English", "#" %>
      </div>
      <div class = "language">
        <%= link_to "繁體中文", "#" %>
      </div>
      <div class = "language">
        <%= link_to "한국어", "#" %>
      </div>
    </div>
  </div>
  
</div>
