<div class="main">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <div class="inner4">
    <div class="store_information_main">
      <h2 class="store_information_title">お店情報を入力</h2>
      <%= form_with(model: @information, url: informations_path,local: true) do |f| %>

      <%# render 'shared/error_messages', model: f.object %>

      <%#店内画像%>
      <div class= "img-upload">
        <div class="weight-bold-text">
          店内画像
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてトップ画像ファイルをアップロード
          </p>
          <%= f.file_field :image, id:"store-image" %>
        </div>
        <div class="click-upload">
          <p>
            クリックして料理ファイルをアップロード
          </p>
          <%= f.file_field :image_foods, direct_upload: true, multiple: true, id:"store-image" %>
        </div>
        <div class="click-upload">
          <p>
            クリックしてお店の外観ファイルをアップロード
          </p>
          <%= f.file_field :image_appearances, direct_upload: true, multiple: true, id:"store-image" %>
        </div>
        <div class="click-upload">
          <p>
            クリックしてお店の外観ファイルをアップロード
          </p>
          <%= f.file_field :image_introspections, direct_upload: true, multiple: true, id:"store-image" %>
        </div>
        <div class="click-upload">
          <p>
            クリックしてお店の入り口からの画像ファイルをアップロード
          </p>
          <%= f.file_field :image_entrances, direct_upload: true, multiple: true, id:"store-image" %>
        </div>
        <div class="click-upload">
          <p>
            クリックしてお店の席の画像ファイルをアップロード
          </p>
          <%= f.file_field :image_seats, direct_upload: true, multiple: true, id:"store-image" %>
        </div>
        <div class="click-upload">
          <p>
            クリックしてお店の景色の画像ファイルをアップロード
          </p>
          <%= f.file_field :image_views, direct_upload: true, multiple: true, id:"store-image" %>
        </div>
        <div class="click-upload">
          <p>
            クリックしてお店のトイレの画像ファイルをアップロード
          </p>
          <%= f.file_field :image_toilets, direct_upload: true, multiple: true, id:"store-image" %>
        </div>
      </div>
      <%# /店内画像 %>
      <%# 店名 %>
      <div class="new-stores">
        <div class="weight-bold-text">
          店名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :store_name, class:"stores-text", id:"store-name", placeholder:"店名（必須 40文字まで)", maxlength:"40" %>
      </div>
      <%# 店名 %>

      <%# お店基本情報 %>
      <div class= "store_detail">
        <div class="weight-bold-text">お店の基本情報</div>
        <div class= "form">
          <div class= "weight-bold-text">
            メールアドレス
            <span class="indispensable">必須</span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <div class= "weight-bold-text">
            電話番号
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :tel, class:"input-default", id:"phone-number", placeholder:"例）09012345678",maxlength:"11"%>
          <div class= "weight-bold-text">
            郵便番号
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :postal_code, class:"input-default", id:"postal-code", placeholder:"例）123-4567", maxlength:"8" %>
          <div class="listing-product-detail__place">
          <%= f.label 'エリア', class: 'listing-default__label' %>
            <span class="listing-default--require">必須</span>
            <div class="listing-select-wrapper">
              <div class="listing-select-wrapper__box">
                <%= f.select :place, @place_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: "parent_place"} %>
                <i class="fas fa-chevron-down listing-select-wrapper__box--arrow-down"></i>
              </div>
            </div>
          </div>
          <div class= "weight-bold-text">
            市町村
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :city, class:"input-default", id:"city", placeholder:"例）横浜市緑区"%>
          <div class= "weight-bold-text">
            番地
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :address, class:"input-default", id:"addresses", placeholder:"例）青山1-1-1"%>
          <div class= "weight-bold-text">
            建物名
            <span class="form-any">任意</span>
          </div>
          <%= f.text_field :building, class:"input-default", id:"building", placeholder:"例）柳ビル103"%>
          <div class= "weight-bold-text">
            交通手段
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :transportation, class:"input-default", id:"transportation", placeholder:"例）○○駅から北に徒歩○○分"%>
          <div class= "weight-bold-text">
            営業開始時間
            <span class="indispensable">必須</span>
          </div>
          <%= f.time_field :opening_time, class:"input-default", id:"business_hours", placeholder:"例）16時"%>
          <div class= "weight-bold-text">
            営業終了時間
            <span class="indispensable">必須</span>
          </div>
          <%= f.time_field :closing_time, class:"input-default", id:"business_hours", placeholder:"例）16時"%>

          <div class= "weight-bold-text">
            定休日
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :holiday, class:"input-default", id:"holiday", placeholder:"例）水曜日"%>
          <div class="listing-product-detail__genre">
          <%= f.label '食べ物のジャンル', class: 'listing-default__label' %>
            <span class="listing-default--require">必須</span>
            <div class="listing-select-wrapper">
              <div class="listing-select-wrapper__box">
                <%= f.select :genre, @genre_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_genre'} %>
                <i class="fas fa-chevron-down listing-select-wrapper__box--arrow-down"></i>
              </div>
            </div>
          </div>
          <div class= "weight-bold-text">
            予約可能かどうか
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:booking_id, Booking.all, :id, :name, {}, {class:"select-box", id:"booking"}) %>
          <div class= "weight-bold-text">
            駐車場の有無
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:parking_id, Parking.all, :id, :name, {}, {class:"select-box", id:"parking"}) %>
          <div class= "weight-bold-text">
            店内照明
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:light_id, Light.all, :id, :name, {}, {class:"select-box", id:"light"}) %>
          <div class= "weight-bold-text">
            店内音量
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:volume_id, Volume.all, :id, :name, {}, {class:"select-box", id:"volume"}) %>
          <div class= "weight-bold-text">
            予算
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:budget_id, Budget.all, :id, :name, {}, {class:"select-box", id:"budget"}) %>
          <div class= "weight-bold-text">
            喫煙について
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:tobacco_id, Tobacco.all, :id, :name, {}, {class:"select-box", id:"tobacco"}) %>
          <div class= "weight-bold-text">
            支払い方法について
            <span class="indispensable">必須（複数選択可）</span>
          </div>
          <%= f.collection_check_boxes :payment_ids, Payment.all, :id, :name, include_hidden: false %>
          <div class= "weight-bold-text">
            飲み物について
            <span class="indispensable">必須（複数選択可）</span>
          </div>
          <%= f.collection_check_boxes :drink_ids, Drink.all, :id, :name, include_hidden: false %>
          <div class= "weight-bold-text">
            ロケーションについて
            <span class="indispensable">必須（複数選択可）</span>
          </div>
          <%= f.collection_check_boxes :location_ids, Location.all, :id, :name, include_hidden: false %>
          <div class= "weight-bold-text">
            部屋について
            <span class="indispensable">必須（複数選択可）</span>
          </div>
          <%= f.collection_check_boxes :room_ids, Room.all, :id, :name, include_hidden: false %>
          <div class= "weight-bold-text">
            BGMについて
            <span class="indispensable">必須（複数選択可）</span>
          </div>
          <%= f.collection_check_boxes :music_ids, Music.all, :id, :name, include_hidden: false %>
          <div class= "weight-bold-text">
            サービスについて
            <span class="indispensable">必須（複数選択可）</span>
          </div>
          <%= f.collection_check_boxes :service_ids, Service.all, :id, :name, include_hidden: false %>
          <div class= "weight-bold-text">
            空間について
            <span class="indispensable">必須（複数選択可）</span>
          </div>
          <%= f.collection_check_boxes :space_ids, Space.all, :id, :name, include_hidden: false %>
          <div class= "weight-bold-text">
            年齢層について
            <span class="indispensable">必須（複数選択可）</span>
          </div>
          <%= f.collection_check_boxes :age_ids, Age.all, :id, :name, include_hidden: false %>
      </div>

      <div class='buy-btn'>
        <%= f.submit "出店" ,class:"buy-red-btn" %>
      </div>
      <% end %>
      
    </div>
  </div>
</div>