<div class= "information_show">
  <div class= "information_box">
    <h2 class= "name">
      <%= @information.store_name %>
    </h2>
    <div class= "information_img_content">
      <%= image_tag @information.image, class: "information-box-img" %>
    </div>
    <div class= "information_kihon">
      <div class = "name">
        店名
        <%= @information.store_name %>
      </div>
      <div class= "genre">
        ジャンル
        <%= @information.genre.name %>
      </div>
      <div class= "drink">
        <% @information.drinks.each do |drink| %>
          <%= drink.name %>
        <% end %>
      </div>
      <div class= "otoiawase">
        予約・お問い合わせ
        <%= @information.tel %>
      </div>
      <div class= "yoyaku">
        予約の可否
        <%= @information.booking.name %>
      </div>
      <div class= "zyuusyo">
        住所
        <%= @information.prefecture.name %><%= @information.city %><%= @information.address %>
      </div>
      <div class= "transportation">
        交通手段
        <%= @information.transportation %>
        
      </div>
      <div class= "business_hours">
        営業時間・定休日
        <%= @information.holiday %>
      </div>
      <div class= "budget">
        予算
        <%= @information.budget.name %>
      </div>
      <div class= "payment">
        支払い方法
        <% @information.payments.each do |payment| %>
          <%= payment.name %>
        <% end %>
      </div>
    </div>
    <div class= "information_setubi">
      <div class= "tobacco">
        喫煙・禁煙
        <%= @information.tobacco.name %>
      </div>
      <div class= "parking">
        <%= @information.parking.name %>
      </div>
      <div class= "space">
        <% @information.spaces.each do |space| %>
          <%= space.name %>
        <% end %>
      </div>
    </div>
    <div class= "information_tokutyou">
      <div class= "location">
        <% @information.locations.each do |location| %>
          <%= location.name %>
        <% end %>
      </div>
      <div class= "service">
        <% @information.services.each do |service| %>
          <%= service.name %>
        <% end %>
      </div>
    </div>
  </div>
  <%= month_calendar events: @reservations do |date, reservations| %>
      <%= date.day %>
      <% if reservations.length >= 2 %>
        <div class= "yoyakukanou">
          ◎
        </div>
      <% elsif reservations.length == 1%>
        <div class= "yoyakugiri">
          △
        </div>
      <% else %>
        <div class= "yoyakuhuka">
        ✖︎
        </div>
      <% end %>
      <% reservations.each do |reservation| %>
        <div class= "hidden" id= "6" >
          <% if reservation.name == nil && user_signed_in? %>
            <%= link_to edit_users_reservation_path(reservation.id) do %>
              <%= reservation.start_time.strftime("%H:%M") %>
              <div class= "yoyakukanou1">
              ◎
              </div>
            <% end %>
          <% end %>
          <% if reservation.name == nil && store_signed_in? && reservation.information.store_id == current_store.id %>
            <%= link_to edit_informations_reservation_path(reservation.id) do %>
              <%= reservation.start_time.strftime("%H:%M") %>
              <div class= "delete">
              ◎ 編集
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>