<div class= "recipt_user_edit">
  <div class= "receipt_show">
    <div class= "receipt_show_main">
      <div class= "receipt_main_tag">
      領収書
      </div>
      <div class= "receipt_number">
      No.<%= @receipt.number %>
      </div>
      <div class= "receipt_name_date">
        <div class= "receipt_name">
          <%= @receipt.name %>様
        </div>
        <div class= "receipt_date">
          <%= @receipt.created_at.strftime("%Y") %>年<%= @receipt.created_at.strftime("%m") %>月<%= @receipt.created_at.strftime("%d") %>日
        </div>
      </div>
      <div class= "receipt_price">
        ￥<%= @receipt.price %>-
      </div>
      <div class= "receipt_priviso">
      但<%= @receipt.proviso %>として頂きました。
      </div>
      <div class= "receipt_address">
        <%= @receipt.information.store.postal_code %><br>
        <%= @receipt.information.place.parent.name %><%= @receipt.information.city %><%= @receipt.information.address %>
      </div>
    </div>
  </div>
  <div class= "receipt_from_confirmation">
    <div class = "receipt_from_confirmation_content">
  
      <%= form_with(model: @receipt, url: users_receipt_path(@receipt.id), method: :patch ,local: true) do |f| %>
        <%= f.check_box :consent, {},:as => :boolean, class: "confirmation_btn"%>
        <%= f.submit "承認する", class: "confirmation_submit"  %>
      <% end %>
    </div>
  </div>
</div>
