<div class='receipt'>
  <div class='title'>領収書</div>
  <div class='top_section'>
    <div class='number_content'>
      <div class='side'>No.</div>
      <div class='number'><%= @receipt.number %></div>
    </div>
    <div class='date_content'>
      <div class='side'>発行日</div>
      <div class='date'><%= @receipt.created_at.strftime("%Y年%m月%d日") %></div>
    </div>
    <div class='receiver'><%= @receipt.name %></div>
  </div>
  <div class='middle_section'>
    <div class='price_content'>
      <div class='side_tag'>金額</div>
      <div class='price'><%= @receipt.price.to_s(:delimited) %></div>
      <div class='side'>（税込）</div>
    </div>
    <div class='proviso_content'>
      <div class='side'>但し</div>
      <div class='proviso'><%= @receipt.proviso %>として</div>
    </div>
    <div class='detail'>上記正に領収いたしました。</div>
  </div>
  <div class='bottom_section'>
    <div class='breakdown'>
      <div class='desc'>内訳</div>
      <div class='excluding_tax_content'>
        <div class='side'>税別金額</div>
        <div class='price'><%= (@receipt.price / 1.1).to_f.ceil(0).to_s(:delimited) %></div>
      </div>
      <div class='tax_content'>
        <div class='side'>消費税額</div>
        <div class='tax'><%= (@receipt.price / 11).to_f.ceil(0).to_s(:delimited)%></div>
      </div>
    </div>
    <div class='company_info'>
      <div class='name'><%= @information.store.store_name %></div>
      <div class='postal_code'><%= @information.postal_code %></div>
      <div class='address'><%= @information.place.parent.name %><%= @information.city %><%= @information.address %></div>
      <div class='building'><%= @information.building %></div>
      <div class='tel'><%= @information.tel %></div>
    </div>
    <div class = "stamp">
      <div class = "stamp_detail">電子領収書により印紙不要</div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= link_to "領収書一覧へ戻る", users_receipts_path(id: @receipt.user.id), method: :get, class: "back_path"  %>
<% else %>
  <%= link_to "領収書一覧へ戻る", informations_reservation_receipts_path(@information.id), method: :get, class: "back_path"  %>
<% end %>